@page "/"
@{
    ViewData["Title"] = "Home";
}

<h1 class="text-danger"></h1>
<h2 class="text-danger">Code Generator Tools/ Admin Template</h2>
<h3 class="text-success">(Traditional Design Pattern)</h3>
<h4><b>Build in:</b> .Net Core 8 Web App (Razor Pages), Entity Framework (ORM), Api Controller, Javascript, css, html</h4>
<h5><b>Author:</b> Renz Marion Bayadog, <i>(Package App Senior Analyst)</i></h5>

<br />
<h5><b>Content:</b> you can create new feature by using code generator tools.</h5>

<p>1. Generate Entity Framework (Scaffolding)</p>
<p>2. Generate Constants</p
<p>4. Generate ViewModels</p>
<p>5. Generate API Controllers</p>
<p>6. Generate Pages/Modal (Index, Details, Create, Update)</p>
