@page "/account/login"
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="">
    <link rel="stylesheet" type="text/css" href="~/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/animate.css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title p-b-26">
                        Log-In
                    </span>
                   @*  <span class="login100-form-title p-b-48">
                       <img src="" style="width:120px;height:120px;" />
                    </span> *@

                    <div class="wrap-input100 validate-input" data-validate="Enter Username">
                        <input @* asp-for="" *@ class="input100" type="text" name="username"/>
                        <span class="focus-input100" data-placeholder="Username"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input @* asp-for="" *@ class="input100" type="password" name="password" />
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" style="background-color:#FF7F3D;" type="submit">
                                Login
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                    @*     @if (Model.ShowMessage)
                        {
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <span></span> @Model.Message
                            </div>
                        }
 *@
                        <span class="txt1">
                            ©2025 All Rights Reserved. Code Generator
                        </span>

                        @*<a class="txt2" href="#">
                            Sign Up
                        </a>*@
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/vendors/animsition/js/animsition.min.js"></script>
    <script src="~/vendors/bootstrap/js/popper.js"></script>
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/login.js"></script>
</body>
</html>


